*, *:before, *:after {
    box-sizing: border-box;
    font-family: arial;
    margin: 0;
    padding: 0;
  }

body {
    background: #eaeaea;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

#cover{
    background-image: url(showcase.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#cover h1{
    font-size: 50px;
    line-height: 1.2;

}

#cover p{
    font-size: 20px;
}

#cover a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#cover .button:hover{
    background: black;
    color: blanchedalmond;
}

#offerings{
    height: 100vh;
    display: flex; 
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    padding: 15vh;
}

#switch{
    height: 100vh;
    display: flex; 
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    padding: 15vh;
}

#benefits{
    height: 100vh;
    display: flex; 
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    padding: 15vh;
}

#usecase{
    height: 100vh;
    display: flex; 
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    padding: 15vh;
}

#testimonials{
    height: 100vh;
    display: flex; 
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    padding: 15vh;
}

.show {
    display: block;
    height: 100%;
    /*overflow: visible;*/
    position: relative;
    visibility: visible;
  }